{% extends 'base.html.twig' %}

{% block body %}
	{% for page in pages %}
		<div class="page col-md-4">
			<h4><a href="{{path('page_display',{id: page.id } )}}">{{ page.title }}</a></h4>
			<p class="content">{{ page.content|slice(0,200)}} 
				<a  href="{{path('page_display',{id: page.id } )}}">read more »</a>
			</p>
		</div>
	{% endfor %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
